<ion-content  center>
    <!-- <ion-fab  right bottom  *ngIf="loginType==1">
        <button  ion-fab color="warning" (click)="register()"><ion-icon name="add"></ion-icon></button>
    </ion-fab> -->
    <ion-list inset>

        <ion-item text-center>
            <img src="./assets/img/cas-padlock-icon.png" alt="" style="width:50%;height:35%;">
        </ion-item>

       <!--  <ion-item>
            <ion-select [(ngModel)]="loginType" interface="action-sheet">
                <ion-option value="1">ใช้เบอร์โทรศัพท์ในการ Login</ion-option>
                <ion-option value="2">ใช้ IDCODE ในการ Login</ion-option>
            </ion-select>
        </ion-item> -->
        <ion-item>
            <ion-label floating *ngIf="loginType==1">เบอร์โทร:</ion-label>
            <ion-label floating *ngIf="loginType==2">IDCODE:</ion-label>
            <ion-input type="number" [(ngModel)]="tel" maxlength="10" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>รหัสผ่าน:</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button color="primary" full (click)="login()" [disabled]="!tel || !password">เข้าระบบ</button>
            <button ion-button color="success" class="small"  (click)="register()" small outline icon-start *ngIf="loginType==1">
              <ion-icon name="person" ></ion-icon>ลงทะเบียน
            </button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <button ion-button  small color="success" (click)="this.navCtrl.pop()" icon-only outline>
    <ion-icon name="arrow-dropleft"></ion-icon>
  </button>
</ion-footer>



