<ion-header>

  <ion-navbar color="ptitle">
    <ion-title>ปัญหาต้นทาง</ion-title>
    <ion-buttons start small>
      <button ion-button icon-only color="ligth" small (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <!-- <img [src]="imageData" *ngIf="!!imgData" (click)="showPhoto()" (error)="errorHandler($event)" default="./assets/img/placeholder.png"> -->
    <ion-item style="background-color:rgb(222, 248, 242)">
        <ion-avatar item-start *ngIf="!imgHide">
            <img [src]="imageData" (click)="showPhoto()" (error)="errorHandler($event)" default="./assets/img/placeholder.png">
          </ion-avatar>
      <h2>{{svData?.sv_no}}</h2>
      <h2>{{svData?.cust_ptype_desc}} {{svData?.cust_pdesc}}</h2>
      <h2>{{svData?.province_name}}</h2>
    </ion-item>
    <ion-card-content>
      <p text-wrap>ปัญหา: {{svData?.sv_detail}}</p>
    </ion-card-content>
    <hr>
    <ion-row>
      <ion-col text-nowrap>
        <span style="font-size:12px;">โดย: {{svData?.thiname}}</span>
      </ion-col>
      <ion-col text-nowrap>
        <span style="font-size:12px;">วัน: {{svData?.sv_date}} เวลา: {{svData?.sv_time}}</span>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-scroll scrollY="true" style="height: 60%;background-color:#f9fafc;padding:0;">
    <div>
      <ion-card *ngFor="let comment of comments">
        <ion-item>
          <ion-avatar item-start>
            <img src="./assets/img/favicon.ico" alt="" *ngIf="comment.comment_utype==1">
            <img src="./assets/img/logo.jpg" alt="" *ngIf="comment.comment_utype==2">
          </ion-avatar>
          <h2>โดย: {{comment?.thiname}}</h2>
          <p>วันที่: {{comment?.comment_adate}} เวลา: {{comment?.comment_atime}}</p>
        </ion-item>
        <ion-card-content class="card-content">
          <p>{{comment?.comment_detail}}</p>
          <!-- <img [src]="xurl+'/'+comment.comment_photo" (click)="showPhoto()"> -->
          <ion-item>
            <img [src]="xurl+'/'+comment.comment_photo" (click)="showPhotox(xurl+'/'+comment.comment_photo)" style="width:50%;height:50%;"
              *ngIf="comment.comment_photo">
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-scroll>
</ion-content>
