<ion-content>

  <!-- <ion-item no-lines color="ptitle">
        <ion-avatar item-start>
            <img src="./assets/icon/inform.jpg">
        </ion-avatar>
        <h1>แจ้งปัญหา</h1>

    </ion-item> -->
  <div class="issue">
    <ion-segment>
      <ion-segment-button (click)="showProblem(1)">
        <img src="./assets/icon/workstation.png" > เครื่อง
      </ion-segment-button>
      <ion-segment-button (click)="showProblem(2)">
        <img src="./assets/icon/p.jpg" > โปรแกรม
      </ion-segment-button>
      <ion-segment-button (click)="showProblem(3)">
        <img src="./assets/icon/other.jpg" > อื่น ๆ
      </ion-segment-button >
    </ion-segment>
  </div>
  <!-- <div>
    <ion-row style="background-color:#f9fafc;">
      <ion-col>
        <button ion-item icon-left clear small (click)="showProblem(1)">
                  <ion-avatar >
                    <img src="./assets/icon/workstation.png" >
                    เครื่อง
                  </ion-avatar>
                </button>

      </ion-col>
      <ion-col>
        <button ion-item icon-left clear small (click)="showProblem(2)">
                  <ion-avatar >
                    <img src="./assets/icon/p.jpg" >
                    โปรแกรม
                  </ion-avatar>
                </button>
      </ion-col>
      <ion-col>
        <button ion-item icon-left clear small (click)="showProblem(3)">
                  <ion-avatar>
                    <img src="./assets/icon/other.jpg" >
                    อื่น ๆ
                  </ion-avatar>
                </button>
      </ion-col>
    </ion-row>
  </div> -->
  <!-- <ion-item no-lines color="ptitle">
        <ion-avatar item-start>
            <img src="./assets/icon/monitoring.jpg">
        </ion-avatar>
        <h1>ตรวจสอบติดตาม</h1>
    </ion-item> -->
  <ion-scroll scrollY="true" style="margin:0px;height: 90%;background-color:#ebebeb">
    <ion-list inset no-lines style="margin:0">
      <ion-card async *ngFor="let sv of svData">
        <button ion-item (click)="openFollow(sv)">
                        <ion-avatar item-start>
                            <img *ngIf="sv.msv_type==1" src="./assets/icon/workstation.png">
                            <img *ngIf="sv.msv_type==2" src="./assets/icon/p.jpg">
                            <img *ngIf="sv.msv_type==3" src="./assets/icon/other.jpg">

                        </ion-avatar>
                        <h2>{{sv.msv_no}}</h2>
                        <p text-wrap>ปัญหา: {{sv.msv_detail}}</p>
                        <p>
                            โดย: {{sv.thiname}}
                        </p>
                        <p>วัน: {{sv.msv_adate}} เวลา: {{sv.msv_atime}}</p>
                    </button>
      </ion-card>
    </ion-list>
  </ion-scroll>
</ion-content>
