<ion-header>

  <ion-navbar color="ptitle">
    <ion-title> <ion-icon name="ios-git-branch"></ion-icon> ปัญหาที่เกี่ยวข้อง</ion-title>
    <ion-buttons start small>
      <button ion-button icon-only color="ligth" small (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
    <ion-list>
        <ion-item *ngFor="let i of svData" (click)="openFollow(i)">
          <ion-avatar item-start>
              <img src="./assets/icon/workstation.png" *ngIf="i.msv_type==1">
              <img src="./assets/icon/p.jpg" *ngIf="i.msv_type==2">
              <img src="./assets/icon/other.jpg" *ngIf="i.msv_type==3">

          </ion-avatar>
          <ion-scroll scrollX="true" >
              <div style="color:red" *ngIf="i.msv_status==0">
                  {{i?.msv_adate}}-{{i?.msv_atime}}
                  <b>ปัญหา:</b>{{i?.msv_detail}}
                  <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
                </div>
                <div style="color:green" *ngIf="i.msv_status==4">
                  {{i?.msv_adate}}-{{i?.msv_atime}}
                  <b>ปัญหา:</b>{{i?.msv_detail}}
                  <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
                </div>
                <div style="color:gray" *ngIf="i.msv_status==6">
                  {{i?.msv_adate}}-{{i?.msv_atime}}
                  <b>ปัญหา:</b>{{i?.msv_detail}}
                  <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
                </div>
                <div style="color:rgb(82, 226, 202)" *ngIf="i.msv_status==9">
                 {{i?.msv_adate}}-{{i?.msv_atime}}
                  <b>ปัญหา:</b>{{i?.msv_detail}}
                  <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
                </div>
                <div style="color:rgb(241, 164, 76)" *ngIf="i.msv_status==10">
                    {{i?.msv_adate}}-{{i?.msv_atime}}
                    <b>ปัญหา:</b>{{i?.msv_detail}}
                    <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
                  </div>
          </ion-scroll>
        </ion-item>
      </ion-list>
</ion-content>
