<ion-header>

  <ion-navbar color="ptitle">
    <ion-title>ปัญหาทางด้านเครื่อง</ion-title>
    <ion-buttons start small>
      <button ion-button icon-only color="ligth" small (click)="close()">
                  <ion-icon name="close-circle"></ion-icon>
                </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let w of worktypes;let i = index">
    <ion-card-header>{{w.work_type_desc}}</ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-item no-lines>
            <ion-scroll scrollX="true">
                <button icon-only clear ion-button *ngFor="let s of equipset[i]">
                    <ion-avatar class="scroll-item selectable-icon">
                        <img src="./assets/icon/workstation.png" alt="">
                    </ion-avatar>
                    {{s?.equip_set_desc}}
                </button>
            </ion-scroll>
        </ion-item>
    </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
