<!--
  Generated template for the FollowupCustomerSelfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>followupCustomerSelf</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>

  <ion-list>
    <ion-card *ngIf="isData">
      <ion-item style="color:red;">
        <ion-icon name="warning" item-start>
        </ion-icon>
        <h2 style="color:orange;">ยังไม่มีรายการแจ้งปัญหา</h2>
      </ion-item>
      <ion-card-content>
        <p style="color:blue;font-size:16px;">
          <br>
          <br>
          <br>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-item *ngFor="let i of items" (click)="openFollow(i)">
      <ion-avatar item-start>
        <img src="./assets/icon/workstation.png" *ngIf="i.msv_type==1">
        <img src="./assets/icon/p.jpg" *ngIf="i.msv_type==2">
        <img src="./assets/icon/other.jpg" *ngIf="i.msv_type==3">

      </ion-avatar>
      <ion-scroll scrollX="true">
        <div style="color:red" *ngIf="i.msv_status==0">
          <!-- <ion-icon name="md-radio-button-on" style="color:red" *ngIf="i.msv_status==0"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:green" *ngIf="i.msv_status==4"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:gray" *ngIf="i.msv_status==6"></ion-icon> -->

          <!--<b>{{i?.msv_no}}</b>-->{{i?.msv_adate}}-{{i?.msv_atime}}
          <b>ปัญหา:</b>{{i?.msv_detail}}
          <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
        </div>
        <div style="color:green" *ngIf="i.msv_status==4">
          <!-- <ion-icon name="md-radio-button-on" style="color:red" *ngIf="i.msv_status==0"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:green" *ngIf="i.msv_status==4"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:gray" *ngIf="i.msv_status==6"></ion-icon> -->

          <!--<b>{{i?.msv_no}}</b>-->{{i?.msv_adate}}-{{i?.msv_atime}}
          <b>ปัญหา:</b>{{i?.msv_detail}}
          <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
        </div>
        <div style="color:gray" *ngIf="i.msv_status==6">
          <!-- <ion-icon name="md-radio-button-on" style="color:red" *ngIf="i.msv_status==0"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:green" *ngIf="i.msv_status==4"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:gray" *ngIf="i.msv_status==6"></ion-icon> -->

          <!--<b>{{i?.msv_no}}</b>-->{{i?.msv_adate}}-{{i?.msv_atime}}
          <b>ปัญหา:</b>{{i?.msv_detail}}
          <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
        </div>
        <div style="color:rgb(82, 226, 202)" *ngIf="i.msv_status==9">
          <!-- <ion-icon name="md-radio-button-on" style="color:red" *ngIf="i.msv_status==0"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:green" *ngIf="i.msv_status==4"></ion-icon>
              <ion-icon name="md-radio-button-on" style="color:gray" *ngIf="i.msv_status==6"></ion-icon> -->

          <!--<b>{{i?.msv_no}}</b>-->{{i?.msv_adate}}-{{i?.msv_atime}}
          <b>ปัญหา:</b>{{i?.msv_detail}}
          <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
        </div>
        <div style="color:rgb(241, 164, 76)" *ngIf="i.msv_status==10">
          <!-- <ion-icon name="md-radio-button-on" style="color:red" *ngIf="i.msv_status==0"></ion-icon>
            <ion-icon name="md-radio-button-on" style="color:green" *ngIf="i.msv_status==4"></ion-icon>
            <ion-icon name="md-radio-button-on" style="color:gray" *ngIf="i.msv_status==6"></ion-icon> -->

          <!--<b>{{i?.msv_no}}</b>-->{{i?.msv_adate}}-{{i?.msv_atime}}
          <b>ปัญหา:</b>{{i?.msv_detail}}
          <b>ผู้แจ้ง:</b>{{i?.thiname}} {{i?.cust_ptype_desc}} {{i?.cust_pdesc}}
        </div>
      </ion-scroll>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="dots" loadingText="กำลังโหลดข้อมูล........">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
