page-followup-customer-self {
  ion-scroll[scrollx] {
    //white-space: nowrap;
    height: 40px;
    overflow: auto;
  }
  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
}
