<ion-header>

  <ion-navbar color="ptitle">
    <ion-title>กระจายงาน</ion-title>
    <ion-buttons start small>
      <button ion-button icon-only color="ligth" small (click)="close()">
                  <ion-icon name="close-circle"></ion-icon>
                </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-row>
      <ion-segment>
        <ion-segment-button clear full (click)="openJob(1)" value='1'>
          <img src="./assets/icon/workstation.png" style="width:27px;height:27px;"> เครื่อง
        </ion-segment-button>
        <ion-segment-button clear full (click)="openJob(2)" value='2'>
          <img src="./assets/icon/p.jpg" style="width:27px;height:27px;"> โปรแกรม
        </ion-segment-button>
        <ion-segment-button clear full (click)="openJob(3)" value='3'>
          <img src="./assets/icon/other.jpg" style="width:27px;height:27px;"> อื่น ๆ
        </ion-segment-button>
      </ion-segment>
    </ion-row>

  </ion-toolbar>
</ion-header>


<ion-content style="margin:0;padding:0;">
  <ion-row *ngIf="isHw">
    <ion-item style="background-color:#C8E6C9;padding:0px 0px 0px 0px;margin:0">
      <ion-scroll scrollX="true" style="margin:0">
        <button clear icon-left ion-button *ngFor="let w of worktypes" (click)="getEquipset(w.work_type_id)">
            <ion-icon name="radio-button-on" class="scroll-item selectable-icon" icon-start></ion-icon>
            {{w?.work_type_desc}}
        </button>
      </ion-scroll>
    </ion-item>
  </ion-row>
  <ion-row *ngIf="isSet" class="a">
    <ion-item style="background-color:#C8E6C9;padding:0px 0px 0px 0px;margin:0">
      <ion-scroll scrollX="true" style="margin:0">
        <button icon-only clear ion-button *ngFor="let s of equipset" (click)="listEquip(work_type_id,s.equip_set_id)">
                  <ion-avatar class="scroll-item selectable-icon">
                      <img src="./assets/icon/workstation.png"  >
                      {{s?.equip_set_desc}}
                  </ion-avatar>
              </button>
      </ion-scroll>
    </ion-item>
  </ion-row>
  <ion-row *ngIf="isEquip" class="b">
    <ion-item style="background-color:#C8E6C9;padding:0px 0px 0px 0px;margin:0">
      <ion-scroll scrollX="true" style="margin:0;width:100%">
        <button icon-only color="ptitle" ion-button *ngFor="let e of equips" (click)="popEquip(e,$event)">
              <ion-thumbnail item-start>
                <img [src]="(urlx+e.pic+'.png')" (error)="errorHandler($event)" default="./assets/img/placeholder.png"  >
               </ion-thumbnail>
               <ion-thumbnail item-start>
                 <br>
                 <h2>{{e?.pno}}</h2>
                 <h3>SN:{{e?.sno}}</h3>
                 </ion-thumbnail>
              <!-- <p>SN:{{e.sno}}</p> -->
        </button>
      </ion-scroll>
    </ion-item>
  </ion-row>
  <ion-row >
    <ion-list no-lines style="background-color:brown;margin:0px;padding:0px;width:100%">
      <!-- <ion-scroll scrollY="true" style="margin:0px;height: 90%;background-color:#ebebeb"> -->
      <ion-item-sliding #item *ngFor="let p of problems" style="margin:0px;padding:0px;">
        <ion-item style="margin:0px;padding:0px;">
          <ion-thumbnail item-start>
            <img src="./assets/icon/p.jpg"  *ngIf="p.problem_type=='P2'">
            <img  [src]="(urlx+p?.pic+'.png')" (error)="errorHandler($event)" default="./assets/img/placeholder.png" *ngIf="p.problem_type=='P1'">
          </ion-thumbnail>
          <h3 *ngIf="p.problem_type=='P1'">{{p?.work_type_desc}}&nbsp;<ion-icon name="arrow-forward"></ion-icon>&nbsp;{{p?.equip_set_desc}}&nbsp;<ion-icon name="arrow-forward"></ion-icon>&nbsp;SN:{{p?.sno}}</h3>
          <h3 *ngIf="p.problem_type=='P2'">{{p?.prob_gdesc}}<br>{{p?.problem_sub_desc}}&nbsp;</h3>
          <p text-wrap>{{p?.detail}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="delete(p?.probid)" color="danger">
              <ion-icon name="trash"></ion-icon>ลบ
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- </ion-scroll> -->
  </ion-row>
</ion-content>
<ion-footer style="background-color:#e8e8e8">
  <ion-buttons text-center>
    <button ion-button  color="primary" full icon-left (click)="create()" [disabled]="problems.length<1">
      <ion-icon name="add-circle"></ion-icon>สร้างรายการ service
    </button>
    <!-- <button ion-button clear color="primary">ส่งต่อ</button> -->
  </ion-buttons>
</ion-footer>
