page-followup-problem {
    .byDate {
        font-size: 12px;
        color: red;
    }
    .card-content p {
        font-size: 18px;
        color: #34495e;
    }
    .custom-popover{
      width:100%;

    }
    .control{
      ion-col{
        button{
          ion-icon{
            height:10px;
            width:10xp;
            font-size:10px;
          }
          div{
            font-size:14px;
          }

        }
      }
    }
}
