
<ion-header>

    <ion-navbar color="ptitle">
        <ion-title>ปัญหาด้านโปรแกรม</ion-title>
        <ion-buttons start small>
          <button ion-button icon-only color="ligth" small (click)="close()">
                      <ion-icon name="close-circle"></ion-icon>
                    </button>
        </ion-buttons>
      </ion-navbar>

</ion-header>

<ion-content >
    <ion-row>
        <ion-item>
          <ion-label>ระบบงาน</ion-label>
          <ion-select   [(ngModel)]="prob_gid" (ionChange)="change($event)" okText="ตกลง" cancelText="ยกเลิก">
            <ion-option *ngFor="let p of problemgroups" [value]="p.prob_gid" (ionSelect)='select1(p)'>
            <!-- <ion-option *ngFor="let p of problemgroups" [value]="p.prob_gid" > -->
              {{p.prob_gdesc}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>โปรแกรม</ion-label>
          <ion-select [(ngModel)]="problem_sub_id" (ionChange)="change2($event)" okText="ตกลง" cancelText="ยกเลิก">
            <ion-option *ngFor="let ps of problemsubs" [value]="ps.problem_sub_id" (ionSelect)='select2(ps)'>
              {{ps.problem_sub_desc}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>อาการ</ion-label>
            <ion-select [(ngModel)]="problem_sub2_id" okText="ตกลง" cancelText="ยกเลิก" >
                <ion-option *ngFor="let ps2 of problemsub2s" [value]="ps2.problem_sub2_id" (ionSelect)='select3(ps2)'>
                  {{ps2.problem_sub2_desc}}
                </ion-option>
              </ion-select>
          </ion-item>
        <ion-item>
          <ion-label>รายละเอียด</ion-label>
          <ion-textarea rows=8 cols=80 [(ngModel)]="detail"></ion-textarea>
        </ion-item>
    </ion-row>
</ion-content>
<ion-footer>
  <button ion-button  full color="secondary" (click)="save()" >{{isUpdate?'ปรับปรุง':'บันทึก'}}</button>


</ion-footer>
